# Ignore all files in the directory

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
build/
dist/
*.egg-info/
dataset/
result/

.gradle/
build/
target/
*.bin
*.class
*.jar
*.log
*.out
*.so
*.swp
*.tmp
*.zip

plant_disease_datasets\

sdk/
plant_disease_dataset/
plant_disease_mobile_android.iml